/* Global */
.content-flex {
    display: flex;
}
.fa-solid {
    color: #183153;
    margin-right: 10px;
}

/* Side Bar */
.side-bar {
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.573);
    border-right: 1px solid #cbc9c9;
    width: 20%;
    height: 100vh;
}
.item-link {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
}
.item-link:hover {
    background-color: white;
    border-radius: 10px;
}
.active {
    background-color: white;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
tr:nth-child(even) {
    background: #f1f7f8;
}
th,td {
    border: 1px solid #a0c8cf;
    padding: 0.70rem;
    text-align: center;
}
th {
    background-color: rgba(0, 0, 255, 0.573);
    color: white;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}